@media print {
	button,
	.sealedCash,
	.depositTicket {
		/*	display: none;*/
	}

	body {
		width: 21cm;
		height: 29.7cm;
	}

	.depositTicket {
		margin: 0.5cm;
	}
}

img {
	transform: rotate(90deg) translateY(82px) translateX(81px);
	width: 10.5cm;
	height: 14.8cm;
}

canvas {
	transform: rotate(90deg) translateY(82px) translateX(81px);
	width: 14.8cm;
	height: 10.5cm;
	object-fit: contain;
}

.nextPage {
	page-break-after: always;
}

.depositTicket {
	/*transform: rotate(90deg);*/
	/*	display: none;*/
}

.sealedCash {
	/*display: none;*/
}

.blankiet {
	border: 1px solid red;
	width: 10.5cm;
	height: 14.8cm;
	/*	display: none;*/
}

.blankietCanvas {
	border: 1px solid red;
	width: 10.5cm;
	height: 14.8cm;
}

.myContainer {
	display: flex;
}

.containerA4 {
	border: 1px solid blue;
	width: 21cm;
	height: 29.7cm;
}
