@media print {
	button,
	.sealedCash {
		display: none;
	}

	.depositTicket {
		margin: 0.5cm;
	}
	.containerA4 {
		width: 21cm;
		height: 29.7cm;
	}
	.toPrint {
	}
}

@media screen {
	.containerA4,
	.depositTicket {
		display: none;
	}
}

img {
	transform: rotate(90deg) translateY(82px) translateX(81px);
	width: 14.8cm;
	height: 10.5cm;
}

canvas {
	transform: rotate(90deg) translateY(82px) translateX(81px);
	width: 14.8cm;
	height: 10.5cm;
	object-fit: contain;
}

.nextPage {
	page-break-after: always;
}

.depositTicket {
	/*transform: rotate(90deg);*/
}

.sealedCash {
	/*display: none;*/
}

.blankiet {
	/*border: 1px solid red;*/
	/*	width: 10.5cm;
	height: 14.8cm;*/
	/*	display: none;*/
}

.blankietCanvas {
	/*	border: 1px solid red;*/
	width: 10.5cm;
	height: 14.8cm;
	/*	width: 50%;
	height: 50%;*/
}

.myContainer {
	display: flex;
	width: 10.5cm;
	height: 14.8cm;
}

.revers {
	transform: rotate(90deg) translateY(82px) translateX(81px);
}

.containerA4 {
	/*	border: 1px solid blue;*/
	/*border: 1px solid red;*/
	width: 100%;
	height: 100%;
}
